REACT_APP_FIREBASE_CREDENTIALS={"apiKey":"AIzaSyDFtcYs7NeVVT961BPsRoiqpj7rMFVuHcU","authDomain":"barba-de-homem-dev.firebaseapp.com","databaseURL":"https://barba-de-homem-dev.firebaseio.com","projectId":"barba-de-homem-dev","storageBucket":"barba-de-homem-dev.appspot.com","messagingSenderId":"242090681","appId":"1:242090681:web:e905bd74dda41875805168"}